/actions/target/

**/*.rs.bk
/.cargo/
/actions/Cargo.lock

*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
*.DS_Store

.idea/
.vscode/
*.iml

Thumbs.db
*.~undo-tree~
*.orig

/coverage/
*.profraw

/benchmarks/
/dist/
*.crate
*.dSYM
*.d
